.whole-page-container {
    padding: 5%;
    /* background-color: #faf8f0; */
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 2px #AC4FC6;
}

.title {}

.ie-home-page-container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.ie-description-section {
    width: 100%;
    padding-left: 5%;
}