.chatbot {
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 25rem;
    width: 18rem;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    cursor: pointer;
}

.chatbot.closed {
    border-radius: 50%;
    background-color: rgb(203, 184, 234);
    height: 5rem;
    width: 5rem;
}