h1,
h2,
h3,
h4,
div {
    margin: 0;
}

.home-reuse-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    margin: 3%;
}

.short-self-intro {
    height: 20rem;
    margin: 0 auto;
}

.profile-pic-container {
    position: relative;
    height: 20rem;
    width: 100%;
    margin: 0 auto;
}

.landing-cat {
    width: auto;
    height: 24%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.landing-stand-read {
    width: auto;
    height: 80%;
    position: absolute;
    left: 12%;
    bottom: 2%;
}

.landing-ice-cream-bike {
    position: absolute;
    width: auto;
    height: 200px;
    left: 34%;
    bottom: 20%;
}

.landing-plant {
    position: absolute;
    width: auto;
    height: 90px;
    right: 23%;
    bottom: 0%;
}

.landing-warning-light {
    position: absolute;
    width: auto;
    height: 300px;
    right: 0%;
    bottom: 0%;
}

/* .home-landing-pic {
    overflow: hidden;
    border-radius: 100%;
    width: 65%;
    height: auto;
    margin: 0 auto;
} */

.short-self-intro {
    text-align: center;
    padding-top: 18%;
    padding-left: 18%;

}

@media screen and (max-width: 1000px) {
    .short-self-intro {
        margin: auto;
        padding-left: 0%;
    }
}

.home-name-text {
    font-weight: bolder;
}

.home-self-intro-text {
    padding-top: 5%;
}

.resume-button-container {
    padding-top: 5%;
    padding-bottom: 8%;
}

.button {
    width: 120px;
    height: 35px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button.resume-btn:hover {
    background-color: #FFF36D;
    box-shadow: 0px 8px 13px #f2800653;
    color: #E69C43;
    transform: translateY(-7px);
}


.waving-lines-section {
    width: 100%;
    height: fit-content;
    opacity: 80%;
    background-color: #FEFBEA;

    /* using: https://css-generators.com/wavy-shapes/ */
    --mask:
        radial-gradient(111.80px at 50% 150.00px, #000 99%, #0000 101%) calc(50% - 100px) 0/200px 100%,
        radial-gradient(111.80px at 50% -100px, #0000 99%, #000 101%) 50% 50px/200px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);

    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 2%;
    background-image: linear-gradient(to bottom, #FEFBEA, #FDF8E1);
}

/* .waving-lines-section {
    content: '';
    position: absolute;
    width: 100%;
    height: 30rem;
    bottom: 0;

    background-image: linear-gradient(TO bottom,
            #FEFBEA,
            #E7F2AC,
            #F4D7AE,
            #FADCD2);
} */

.skillsets-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    /* margin: 5%; */
    padding: 3%
}

.skillsets {
    background-color: #edf5c1;
    width: 70%;
    height: fit-content;
    padding: 5%;
    margin: auto;
    border-radius: 5%;
    text-align: center;
    margin-bottom: 9%;
    box-shadow: 2px 2px 2px#f5f9e0;
}


.home-intro-skills {
    text-align: center;
}

.home-intro-skills span {
    margin-right: 2.2%;
    color: #E69C43;
}

.home-heading-text-container {
    text-align: center;
}

.home-heading-text {
    font-weight: bolder;
    padding-top: 9%;
}

@media screen and (max-width: 1000px) {
    .home-heading-text.skills {
        padding-top: 15%;
    }

    .waving-lines-section {
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 0;
    }
}

/* .home-reuse-container.certificates {
    margin-top: 10%;
} */


/* @media screen and (max-width:800px) {
    .certificates-pic-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
} */

/* .verify-btn:hover {
    background-color: #FFF36D;
    box-shadow: 0px 8px 13px #f2800653;
    color: #E69C43;
    transform: translateY(-7px);
} */

/* .button.verify-btn {
    margin: 0 auto;
} */

/* .certificates-pic-container {
    text-align: center;
} */

/* .home-detail-service-text-container {
    background-color: #f2800653;
    margin: 1.5%;
    padding: 3%;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 5px red;
} */


/* .home-reuse-container.certificates {
    background-color: #EDE3FF;
    opacity: 80%;
    overflow: hidden;
    border-radius: 2%;
}

.certificates-pic-container {
    background-color: #f2800653;
    margin: 1.5%;
    padding: 3%;
    overflow: hidden;
    border-radius: 5%;
} */

.projects-section-container {
    /* background-image: linear-gradient(to top,
            #FEFBEA,
            #E7F2AC,
            #F4D7AE,
            #FEFBEA); */

    /* background-color: #F4D7AE; */

}

.introduce-projects {
    text-align: center;
    font-weight: bolder;
}

.home-reuse-container.projects1 {
    margin-top: 5%;
}

.ie-intro-text-container {
    margin: 5%;
}

.ie-pic {
    overflow: hidden;
    border-radius: 5%;
    /* box-shadow: 5px 5px 5px 5px #fff; */
}

.ie-pic-container {
    padding: 1.5%;
    background-color: #ffffff97;
    overflow: hidden;
    border-radius: 5%;
}

.redirect-to-each-project {
    text-decoration: none;
    color: #000;
}

.redirect-to-each-project:hover {
    opacity: 0.7;
    transition: 0.4s;
}