.whole-page-container {
    padding: 5%;
    padding-left: 10%;
    width: 100%;
    height: max-content;
    min-height: 100vh;
}

.FIT5046-intro-container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.FIT5046-landing-pic {
    width: 80%;
    height: auto;
    border-radius: 5%;
    box-shadow: 2px 4px 8px #f3f4cb;
}

.FIT5046-description-section {
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .FIT5046-description-section {
        padding-top: 10%;
    }

    .FIT5046-landing-pic {
        padding-top: 5%;
    }
}