@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap'); */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FADCD2;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;

    /* background: radial-gradient(at 0% 10%, #edf5c1 10px, #AAD7EA 16%,
            #FADCD2 25%); */

    /* background-image: linear-gradient(to right,
            #edf5c1,
            #AAD7EA,
            #FADCD2); */

    background:
        radial-gradient(circle at 50% 0,
            #FADCD2,
            rgba(255, 0, 0, 0) 70.71%),
        radial-gradient(circle at 6.7% 75%,
            #AAD7EA,
            rgba(0, 0, 255, 0) 70.71%),
        radial-gradient(circle at 93.3% 75%,
            #edf5c1, rgba(0, 255, 0, 0) 70.71%) beige;

    background-repeat: no-repeat;
}

.nav {
    /* background-color: rgb(255, 243, 109); */
    color: black;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: stretch; */
    gap: 2rem;
    padding: 1rem 1rem;
    align-items: center;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    /* background-color: azure; */
}

.nav li:hover {
    color: #CEF5EB;
    /* color: #96A885; */
    transition: 0.5s;
}

.linkedin-logo {
    position: absolute;
    right: 5%;
    font-size: x-large;
    color: #0079BF;
}

.linkedin-logo:hover {
    color: #0091E6;
    transition: 0.5s;
}